<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313686326744-u7l3o091tl66roeb7tha90jmleg6q13g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313686326744-u7l3o091tl66roeb7tha90jmleg6q13g</string>
	<key>API_KEY</key>
	<string>AIzaSyDiA7jZehNL6LadwxpsWAxqtfWjPb0XQ-8</string>
	<key>GCM_SENDER_ID</key>
	<string>313686326744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CodePath.OldButGold</string>
	<key>PROJECT_ID</key>
	<string>oldbutgold-a7b01</string>
	<key>STORAGE_BUCKET</key>
	<string>oldbutgold-a7b01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313686326744:ios:e4a31ea67fde1fa4</string>
	<key>DATABASE_URL</key>
	<string>https://oldbutgold-a7b01.firebaseio.com</string>
</dict>
</plist>